/*

O css inteiro do header está na página de catalogo sendo que ja tem o navbar.css linkado na pagina para o menu. Eu apenas comentei ele para vocÊs verem e é só excluir tudo que esta comentado.

*/

/* h1{
	color: var(--primary-color);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 184px;
	margin: 0 auto;
	padding: 20px 5%;
	background-color: var(--secondary-color);
	color: white;
	z-index: 100;
}

.logo {
	z-index: 102;
	height: auto;
	max-width: 15%;
	width: calc(192px + 0.13333vw);
	transition: 0.3s all ease-in-out;
}

.logo:hover {
	transform: scale(1.1);
}

.logo-img {
	width: 100%;
}

.login:hover {
	cursor: pointer;
}

.nav-items {
	display: flex;	
	flex: 0 0 auto;
}

.nav-items a {
	color: white;
	transition: 0.3s ease-in-out;
	text-decoration: none;
	margin: 0 10px;
	font-size: var(--small-font-size);
	text-transform: uppercase;
}

.nav-items a:hover {
	color: var(--tertiary-color);
	cursor: pointer;
}

.search-bar {
	gap: 5px;
	display: flex;
	justify-content: space-between;
	width: calc(500px + 0.15vw);
	align-items: center;
	margin: 0 10px;
}

.search-bar input {
	flex-grow: 1;
	height: 35px;
	padding: 0 15px;
	font-size: var(--small-font-size);
	border-radius: 5px;
	border: none;
}

.search-bar button {
	height: 35px;
	margin-left: 5px;
	padding: 0 10px;
	background-color: var(--bg-card-green);
	color: var(--secondary-color);
	border: none;
	flex-basis: calc(15% - 10px);
	font-size: var(--button-font-size);
	text-transform: uppercase;
}

.search-bar input,
.search-bar button {
	box-sizing: border-box;
}

.user-profile {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 0 10px;
}

.user-profile img {
	width: 55px;
}

.user-profile-buttons a {
	color: var(--tertiary-color);
	font-weight: bold;
	font-size: var(--small-font-size);
}

.user-profile-buttons p, strong {
	color: var(--primary-color);
	font-size: var(--small-font-size);
}

.user-profile-buttons a:hover{
	text-decoration: underline;
}

.search-bar button {
	transition: 0.15s ease-in-out;
}

.search-bar button:hover {
	border-color: var(--tertiary-color);
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}

.carrinho {
	transition: 0.3s ease-in-out;
	max-width: 10%;
}

.carrinho svg {
	width: calc(46px + 0.03125vw);
	height: auto;
}
button {
	font-size: var(--button-font-size);
}

.user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 5%;
}

.user-icon {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.user-text {
	margin-left: 15px;
}

.user-text span {
	display: block;
	color: white;
	font-size: var(--default-font-size);
}

.user-text small {
	display: block;
	color: var(--tertiary-color);
	font-size: smaller;
}

@media (max-width: 1200px) {
	.logo {
		max-width: 20%;
	}
}

@media (max-width: 992px) {
	.nav-items {
		display: none;
	}

	.auth-buttons {
		margin-right: 2%;
	}

	.carrinho {
		margin-right: 2%;
	}
}

@media (max-width: 768px) {
	.logo {
		max-width: 30%;
	}

	.search-bar {
		flex-grow: 1;
		text-align: left;
		margin-left: 5%;
	}

	.auth-buttons {
		margin-right: 2%;
	}

	.carrinho {
		margin-right: 2%;
	}
}

@media (max-width: 576px) {
	.logo {
		max-width: 40%;
	}

	.search-bar input {
		padding: 5px;
	}

	.auth-buttons button {
		padding: 5px 10px;
	}
} */


main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: var(--fundo-dark-blue);
	padding: 120px 20%;
	color: white;
	height: 2400px;
}

.catalog ul {
	text-align: center;
	position: relative;
	margin-top: -16%;
	align-items: center;
	justify-content: center;
}

.catalog ul li {
	display: inline-block;
	position: relative;
	text-align: center;
	top: 0%;
	width: 172px;
	height: 38px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: var(--primary-color);
	font-family: var(--font-inter);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 20px;
}

div#catalog-conteiner {
	position: fixed;
	margin-left: -4%;
	background: var(--secondary-color);
	border-radius: 47px;
	width: 318px;
	height: 92px;
	left: 44%;
	top: 14%;
	align-items: center;
	justify-content: center;
	z-index: 102;
}

div#catalog-text {
	position: relative;
	top: 30%;
	z-index: 0;
	font-size: var(--h1-font-size);
	text-align: center;
}

.content h2 {
	position: relative;
	justify-content: center;
	top: 130px;
	right: 1%;
	color: var(--tertiary-color);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.card-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.card-item {
	position: relative;
	top: 200px;
	width: 245px;
	height: 457px;
	flex-shrink: 0;
	border-radius: 10px;
	background: var(--fundo-card-dark);
	box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.25);
}

.card-item img {
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 152px;
	max-width: 100%;
	max-height: 100%;
	width: 205px;
	height: 285px;
	flex-shrink: 0;
}

.card-content h5 {
	position: absolute;
	text-align: center;
	left: 10%;
	top: 69%;
	bottom: 123px;
	color: var(--primary-color);
	font-family: var(--font-inter);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.card-content p {
	position: absolute;
	justify-content: center;
	bottom: 12%;
	left: 34%;
	color: var(--tertiary-color);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.card-content img {
	position: absolute;
	justify-self: center;
	top: 344px;
	bottom: 92px;
	left: 19%;
	top: 62%;
	width: 150px;
	height: 150px;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
}

.book-request {
	position: absolute;
	bottom: 3%;
	left: 8%;
	width: 83px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 5px;
	background: var(--button-blue);
	color: var(--primary-color);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.book-details {
	position: absolute;
	bottom: 3%;
	left: 56%;
	width: 83px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 3px solid var(--button-blue);
	background: var(--primary-color);
	color: var(--button-blue);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.see-moore {
	position: absolute;
	justify-self: center;
	vertical-align: middle;
	bottom: -180%;
	width: 134px;
	height: 42px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 3px solid var(--tertiary-color);
	background: var(--tertiary-color);
}

.see-moore b {
	color: var(--primary-color);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

@media (max-height: 600px) {
	#catalog-conteiner {
		display: none;
	}

	#catalog-text {
		display: none;
	}
}