main {
	background: var(--fundo-dark-blue);

	min-height: 270vh;
}
div#catalog-title{
	position: relative;
	top: -6%;
	width: 100%;
	height: 84px;
	flex-shrink: 0;
	background: var(--secondary-color);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
div#catalog-conteiner {
	display: block;
	border-radius: 47px;
	width: 318px;
	height: 92px;
	flex-shrink: 0;
	position: relative;
	top: 100%; 
  	left: 50%; 
  	transform: translate(-50%, -50%);
	background: var(--secondary-color);
}

div#catalog-text h1{
	color: var(--primary-color);
	font-family: var(--font-inter);
	font-size: var(--h1-font-size);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	position: relative;
	top: 25px;
	z-index: 0;
	text-align: center;
}
.catalog ul {
	text-align: center;
	position: relative;
	align-items: center;
	justify-content: center;
}

.catalog ul li {
	display: inline-block;
	justify-content: center;
	position: relative;
	top: 0%;
	width: 180px;
	height: 38px;
	flex-shrink: 0;
	color: var(--primary-color);
	font-family: var(--font-inter);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.content h2 {
	position: relative;
	padding: 7%;
	justify-content: center;
	color: var(--tertiary-color);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.card-wrapper {
	display: grid;
	position: absolute;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px;
	left: 16%;
  	justify-content: center; 
  	align-items: center;
	text-align: center;
	vertical-align: middle;
}

.card-item {
	position: relative;
	margin: 0;
	padding: 0;
	width: 245px;
	height: 457px;
	flex-shrink: 0;
	border-radius: 10px;
	background: var(--fundo-card-dark);
	box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.25);
}

.card-item img {
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 152px;
	max-width: 100%;
	max-height: 100%;
	width: 205px;
	height: 285px;
	flex-shrink: 0;
}

.card-content h5 {
	position: absolute;
	text-align: center;
	left: 10%;
	top: 69%;
	bottom: 123px;
	color: var(--primary-color);
	font-family: var(--font-inter);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.card-content p {
	position: absolute;
	justify-content: center;
	bottom: 12%;
	left: 34%;
	color: var(--tertiary-color);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.card-content img {
	position: absolute;
	justify-self: center;
	top: 344px;
	bottom: 92px;
	left: 19%;
	top: 62%;
	width: 150px;
	height: 150px;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
}

.book-request {
	position: absolute;
	bottom: 3%;
	left: 8%;
	width: 83px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 5px;
	background: var(--button-blue);
	color: var(--primary-color);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.book-details {
	position: absolute;
	bottom: 3%;
	left: 56%;
	width: 83px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 3px solid var(--button-blue);
	background: var(--primary-color);
	color: var(--button-blue);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.see-moore {
	display: block;
	position: absolute;
	bottom: -10%;	
	justify-self: center;
	width: 134px;
	height: 42px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 3px solid var(--tertiary-color);
	background: var(--tertiary-color);
}

.see-moore b {
	color: var(--primary-color);
	text-align: center;
	font-family: var(--font-inter);
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}