footer {
	background-color: var(--secondary-color);
}

.footer-box{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 40px 30px;
}

.footer-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-section h3 {
	margin-bottom: 10px;

	color: var(--primary-color); /* Adjust font size as per your design */
}

.footer-section a,
.footer-section p {
	color: var(--primary-color); /* Font color */
	font-size: var(--default-font-size);
}

.footer-section a:hover {
	text-decoration: underline; /* Underline on hover for links */
}

/*media querie*/
@media (max-width: 768px) {

	.footer-box {
		flex-direction: column;
		gap: 40px;
	}
	
}