:root {
	/* Cores */
	--primary-color: #fff;
	--secondary-color: #305a72;
	--tertiary-color: #7ed957;
	--black-color: #000;
	--bg-green: #94bc9d;
	--bg-card-green: #e8f4ed;

	/* Fontes */
	--font-inter: "Inter", sans-serif;
	--font-pinyon: "Pinyon Script", cursive;

	/* Tamanhos de Fonte */
	--small-font-size: 14px;
	--button-font-size: 14px;
	--default-font-size: 16px;
	--h1-font-size: 36px;
	--h2-font-size: 24px;
	--h3-font-size: 20px;

	/* Margem */
	--base-margin: 73px;
	--base-viewport-width: 1440px;
	--scaled-margin: calc(
		1vw * var(--base-margin) / var(--base-viewport-width)
	);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-inter);
	font-size: var(--default-font-size);
	color: var(--black-color);
}
body {
	background-color: var(--primary-color);
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	padding-left: var(--scaled-margin);
	padding-right: var(--scaled-margin);
}
button {
	text-align: center;
	border-radius: 5px;
	font-size: var(--button-font-size);
	padding: 8px;
	height: 34px;
	cursor: pointer;
}
a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

header {
	padding-top: 100px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--secondary-color);
	padding: 40px 5%;
	color: white;
}

footer div {
	display: flex;
	flex-direction: column;
}
