.intro-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2% 5%;
	margin: 0 auto;
	background: var(--bg-card-green, #e8f4ed);
	min-height: 400px;
}

.intro-text p,
.highlight {
	font-size: var(--h1-font-size);
	font-weight: 600;
	line-height: 1.5;
	max-width: 60%;
	color: var(--secondary-color);
}

.highlight {
	color: rgba(52, 115, 58, 0.72);
}

.intro-text,
.intro-image {
	margin: 0;
	padding: 0;
}

.intro-text {
	max-width: 45%;
}

.intro-image {
	border-radius: 55px;
	overflow: hidden;
}

.intro-image img {
	display: block;
	backdrop-filter: blur(2px);
}
