.intro-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2% 5%;
	margin: 0 auto;
	background: var(--bg-card-green, #e8f4ed);
	min-height: 400px;
}

.intro-text p,
.highlight {
	font-size: var(--h1-font-size);
	font-weight: 600;
	line-height: 1.5;
	max-width: 60%;
	color: var(--secondary-color);
}

.highlight {
	color: rgba(52, 115, 58, 0.72);
}

.intro-text,
.intro-image {
	margin: 0;
	padding: 0;
}

.intro-text {
	max-width: 45%;
}

.intro-image {
	border-radius: 55px;
	overflow: hidden;
}

.intro-image img {
	display: block;
	backdrop-filter: blur(2px);
}

.info-section {
	background: url("../images/background-info.png") no-repeat center center;
	background-size: cover;
	padding: 50px 10%;
	color: var(--primary-color);
}

.info-section h1 {
	font-size: var(--h1-font-size);
	font-weight: 600;
	margin-bottom: 20px;
	color: white;
}

.steps-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-top: 40px;
}

.steps-card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.step-card-odd,
.step-card-even {
	flex: 1;
	padding: 20px;
	border-radius: 5px;
	background-color: var(--primary-color);
	text-align: center;
}

.step-card-odd h2,
.step-card-even h2 {
	font-size: var(--h3-font-size);
}

.steps-info {
	flex-basis: 100%;
	text-align: center;
	margin: 20px 0;
	padding: 10px;
	background-color: var(--primary-color);
}

.steps-info h2 {
	font-size: var(--h3-font-size);
}

.step-card-odd {
	background-color: var(--secondary-color);
}

.step-card-even {
	background-color: #fff;
}

.reviews-section {
	padding: 50px 10%;
	text-align: center;
}

.reviews-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.book-card {
	width: 200px;
	border: 1px solid var(--secondary-color);
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.book-card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-image img {
	max-width: 100%;
	height: auto;
}

.stars-rating {
	color: #ffd700;
}

.availability-status {
	color: green;
	font-weight: bold;
}

.request-button,
.details-button {
	margin: 5px 0;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 0.3s;
}

.request-button {
	background-color: var(--tertiary-color);
	color: #fff;
}

.details-button {
	background-color: var(--secondary-color);
	color: #fff;
}

.view-more-button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: var(--tertiary-color);
	color: #fff;
	border-radius: 5px;
	transition: 0.3s;
}

.view-more-button:hover {
	background-color: var(--secondary-color);
}
