h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

header{
	background-color: var(--secondary-color);
	margin: 0 auto;
}

header .header-box{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
}

header .header-box .logo {
	width: 200px;
	transition: 0.3s all ease-in-out;
}

header .header-box .logo:hover {
	transform: scale(1.1);
}


header .header-box .navbar {
	display: flex;
	gap: 20px;
	align-items: center;
	color: white;
}

.login:hover {
	cursor: pointer;
}

.nav-items {
	display: flex;
	gap: 20px;
}

.nav-items a {
	/* padding: 14px 20px; */
	color: white;
	transition: 0.3s ease-in-out;
	text-decoration: none;
	font-size: var(--small-font-size);
	text-transform: uppercase;
}

.nav-items a:hover {
	color: var(--tertiary-color);
	cursor: pointer;
}

.search-bar {
	gap: 5px;
	display: flex;
	justify-content: space-between;
	width: calc(500px + 0.15vw);
	align-items: center;
	margin: 0 10px;
}

.search-bar input {
	flex-grow: 1;
	height: 35px;
	padding: 0 15px;
	font-size: var(--small-font-size);
	border-radius: 5px;
	border: none;
}

.search-bar button {
	height: 35px;
	margin-left: 5px;
	padding: 0 10px;
	background-color: var(--bg-card-green);
	color: var(--secondary-color);
	border: none;
	flex-basis: calc(15% - 10px);
	font-size: var(--button-font-size);
}

.search-bar button svg {
	fill: var(--secondary-color)
}

.search-bar input,
.search-bar button {
	box-sizing: border-box;
}

.user-profile {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 0 10px;
}

.user-profile img {
	width: 55px;
}

.user-profile-buttons a {
	color: var(--tertiary-color);
	font-weight: bold;
	font-size: var(--small-font-size);
}

.user-profile-buttons p, strong {
	color: var(--primary-color);
	font-size: var(--small-font-size);
}

.user-profile-buttons a:hover{
	text-decoration: underline;
}

.search-bar button {
	transition: 0.15s ease-in-out;
}

.search-bar button:hover {
	border-color: var(--tertiary-color);
	background-color: var(--tertiary-color);
	/* color: var(--primary-color); */
}

.carrinho {
	transition: 0.3s ease-in-out;
	max-width: 10%;
}

.carrinho svg {
	width: calc(46px + 0.03125vw);
	height: auto;
}

main {
	padding-top: 100px;
}

button {
	font-size: var(--button-font-size);
}

.user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 5%;
}

.user-icon {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.user-text {
	margin-left: 15px;
}

.user-text span {
	display: block;
	color: white;
	font-size: var(--default-font-size);
}

.user-text small {
	display: block;
	color: var(--tertiary-color);
	font-size: smaller;
}

@media (max-width: 1200px) {
	.logo {
		max-width: 20%;
	}
}

@media (max-width: 1040px){
	.user-profile img {
		display: none;
	}
}

@media (max-width: 992px) {
	.nav-items {
		display: none;
	}

	.auth-buttons {
		margin-right: 2%;
	}

	.carrinho {
		margin-right: 2%;
		display: none;
	}

	.user-profile {
		display: none;
	}

	.menu-hamburguer {
		display: block;
	}
}

@media (max-width: 768px) {
	.logo {
		max-width: 30%;
	}

	.search-bar {
		flex-grow: 1;
		text-align: left;
		/* margin-left: 5%; */
	}

	.auth-buttons {
		margin-right: 2%;
	}

	.carrinho {
		margin-right: 2%;
	}
}

@media (max-width: 576px) {
	.logo {
		max-width: 40%;
		display: none;
	}

	.search-bar input {
		padding: 5px;
	}

	.auth-buttons button {
		padding: 5px 10px;
	}
}
