@media(max-width:420px){
    header{
        height: 120px;
    }
    .search-bar{
        width: 300px;
        right: calc(50% - 150px);
    }
}

main{
    background: var(--bg-green);
    text-align: center;
    align-items: center;
}
h1{
    padding: 90px 0px 51px;
    color: var(--primary-color);
    font-family: var(--font-inter);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container{
    padding: 51px 0px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person{
    width: 100%;
    justify-content: center;
    transition: 0.15s ease-in-out;
    align-items: center;
}
.container img{
    fill: var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    max-width: 280px;
    max-height: 280px;
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 50%;
}
.container h2{
    margin: 8px;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--font-inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container p{
    color: var(--primary-color);
    text-align: center;
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container button{
    padding: 8px;
    margin: 17px;
    width: auto;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: var(--font-inter);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--primary-color);
    color: var(--button-blue);
}
.person:hover{
    background-color: #8eb998;
    padding: 20px 0px 0px;
    border-radius: 15%;
    transform: scale(1.1); 
    transition: transform 0.3s;
}
.container button:hover{
    color: var(--primary-color);
    transition: transform 0.3s;
    background-color: var(--button-blue);
}
@media(max-width:800px){
    .container{
        flex-wrap: wrap;
    }
    .person{
        margin: 30px;
    }
}