button {
	font-size: var(--button-font-size);
}

.user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 5%;
}

.user-icon {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.user-text {
	margin-left: 15px;
}

.user-text span {
	display: block;
	color: white;
	font-size: var(--default-font-size);
}

.user-text small {
	display: block;
	color: var(--tertiary-color);
	font-size: smaller;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container {
 display: -ms-flexbox ;
 flex-wrap: wrap;
 justify-content: space-around;
 margin-top: 20px;
 border: 2px  #305a72 solid ;
 padding: 10px;
 text-align: unset;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container1{
display: flex;
justify-content: space-around;
margin-top: 30px;
border: 5px  #305a72 solid ;
border-radius: 5px;
text-align: unset;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  

.person1, .person2, .person3 {
    width: 100%;
    padding: 20px;
    background-color: #7ed957;
    border: 3px #305a72 solid; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person h2 {
    font-size: 18px;
}

.person p {
    font-size: 14px;
}
.person1 img, .person2 img, .person3 img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
 
.container2{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border: 5px #305a72 solid ;
  border-radius: 5px;
  text-align: unset;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.person4, .person5, .person6 {
    width: 100%;
    padding: 20px;
    background-color: #7ed957;
    border: 3px  #305a72 solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
       
.person h2 {
  font-size: 18px;
}

.person p {
    font-size: 14px;
}
.person4 img, .person5 img, .person6 img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

