h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

body {
    font-family: Arial, sans-serif;
    background-color: #7ed957;
	color:hsl(0, 0%, 0%);
    margin: 10px;
    padding: 10px;
}

.logo {
	z-index: 101;
	height: auto;
	max-width: 15%;
	width: calc(192px + 0.13333vw); /* 192px at 1440px screen width */
	transition: 0.3s all ease-in-out;
}
.logo:hover {
	transform: scale(1.1);
}

.logo-img {
	width: 100%;
}

.nav-items {
	display: flex;
	flex: 0 0 auto;
}

.nav-items a {
	padding: 14px 20px;
	color: white;
	transition: 0.3s ease-in-out;
	text-decoration: none;
	font-size: 18px;
	margin: 0 25px;
}
.nav-items a:hover {
	color: var(--tertiary-color);
	cursor: pointer;
}

.search-bar {
	gap: 10px;
	display: flex;
	justify-content: space-between;
	width: calc(443px + 0.15vw);
	align-items: center;
}

.search-bar input {
	flex-grow: 1;
	height: 40px;
	padding: 0 15px;
	font-size: var(--default-font-size);
	border-radius: 5px;
}

.search-bar button {
	height: 40px;
	margin-left: 5px;
	padding: 0 15px;
	background-color: var(--bg-card-green);
	color: var(--secondary-color);
	border: none;
	flex-basis: calc(15% - 10px);
	font-size: var(--button-font-size);
}

.search-bar input,
.search-bar button {
	box-sizing: border-box;
}

.auth-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login:hover {
	cursor: pointer;
}
.search-bar button,
.auth-buttons button {
	transition: 0.15s ease-in-out;
}

.search-bar button:hover,
.auth-buttons button:hover {
	border-color: var(--tertiary-color);
	background-color: var(--tertiary-color);
	color: var(--primary-color);
}

.carrinho {
	transition: 0.3s ease-in-out;
	max-width: 10%;
}

.carrinho svg {
	width: calc(46px + 0.03125vw);
	height: auto;
	margin-left: 30px;
}
main {
	padding-top: 100px;
}

button {
	font-size: var(--button-font-size);
}

.user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 5%;
}

.user-icon {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.user-text {
	margin-left: 15px;
}

.user-text span {
	display: block;
	color: white;
	font-size: var(--default-font-size);
}

.user-text small {
	display: block;
	color: var(--tertiary-color);
	font-size: smaller;
}

@media (max-width: 1200px) {
	.logo {
		max-width: 20%;
	}
}

@media (max-width: 992px) {
	.nav-items {
		display: none;
	}

	.auth-buttons {
		margin-right: 2%;
	}

	.carrinho {
		margin-right: 2%;
	}
}

@media (max-width: 768px) {
	.logo {
		max-width: 30%;
	}

	.search-bar {
		flex-grow: 1;
		text-align: left;
		margin-left: 5%;
	}

	.auth-buttons {
		margin-right: 2%;
	}

	.carrinho {
		margin-right: 2%;
	}
}

@media (max-width: 576px) {
	.logo {
		max-width: 40%;
	}

	.search-bar input {
		padding: 5px;
	}

	.auth-buttons button {
		padding: 5px 10px;
	}
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o cabeçalho */
header {
    background-color: #0077b5;
    color: white;
    padding: 10px 0;
}

.navbar {
    position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 20px 5%;
	background-color: var(--secondary-color);
	color: white;
	z-index: 100;
}

.nav-items li {
    list-style: none;
    margin-right: 20px;
    display: inline;
}

.logo {
    text-decoration: none;
    color: white;
}

.search-bar input {
    flex-grow: 1;
	height: 40px;
	padding: 0 15px;
	font-size: var(--default-font-size);
	border-radius: 5px;
}

.search-bar button {
    height: 40px;
	margin-left: 5px;
	padding: 0 15px;
	background-color: var(--bg-card-green);
	color: var(--secondary-color);
	border: none;
	flex-basis: calc(15% - 10px);
	font-size: var(--button-font-size);
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.carrinho svg {
    width: 20px;
    height: 20px;
    fill: white;
    margin-left: 10px;
}

/* Estilos para a seção de membros da equipe */
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.container {
 display: -ms-flexbox ;
 flex-wrap: wrap;
 justify-content: space-around;
 margin-top: 20px;
 border: 2px  #305a72 solid ;
 padding: 10px;
 text-align: unset;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container1{
display: flex;
justify-content: space-around;
margin-top: 30px;
border: 5px  #305a72 solid ;
border-radius: 5px;
text-align: unset;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  

.person1, .person2, .person3 {
    width: 100%;
    padding: 20px;
    background-color: #7ed957;
    border: 3px #305a72 solid; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person h2 {
    font-size: 18px;
}

.person p {
    font-size: 14px;
}
.person1 img, .person2 img, .person3 img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
 
.container2{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border: 5px #305a72 solid ;
  border-radius: 5px;
  text-align: unset;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.person4, .person5, .person6 {
    width: 100%;
    padding: 20px;
    background-color: #7ed957;
    border: 3px  #305a72 solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
       
.person h2 {
  font-size: 18px;
}

.person p {
    font-size: 14px;
}
.person4 img, .person5 img, .person6 img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

