main{
    background: var(--bg-green);
    text-align: center;
    align-items: center;
    padding: 90px 0;
}
h1{
    padding: 50px 0;
    color: var(--primary-color);
    font-family: var(--font-inter);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.person{
    /* width: 100%; */
    padding: 20px 10px;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    transition: 0.15s ease-in-out; 
}

.container img{
    max-width: 280px;
    max-height: 280px;
    flex-shrink: 0;
    border-radius: 50%;
}
.container h2{
    margin: 8px;
    color: var(--primary-color);
    text-align: center;
}
.container p{
    color: var(--primary-color);
    text-align: center;
    font-family: var(--font-inter);
    font-size: 20px;
}
.contact-button{
   display: flex;
   margin-top: 15px;
   gap: 10px;
    /* width: auto;
    height: auto; */
}

.contact-button button{
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    color: var(--button-blue);
}

.contact-button button:hover{
    color: var(--primary-color);
    transition: transform 0.3s;
    background-color: var(--button-blue);
}

 @media(min-width:427px){
    .person:hover{
        background-color: #80b38c;
        border-radius: 10%;
        transform: scale(1.1); 
        transition: transform 0.3s;
    }
} 

