html {
    overflow-x: hidden;
}

main {
    padding: 170px 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
}

.user-box {
    width: 270px;
    height: auto;

    padding: 40px 20px;
    flex-shrink: 0;

    position: relative;

    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--tertiary-color);
    background: var(--bg-card-green);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user-box img {
    width: 204px;
    height: 226px;

    flex-shrink: 0;

    border-radius: 5px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

p#username {
    margin: 22px 0px 0px;

    color: var(--black-color);
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p#email {
    margin: 0px 0px 53px;

    color: #3695B2;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.user-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-data li {
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-top: 2px solid var(--bg-green);
    padding-top: 10px;

    position: relative;

    text-align: left;
    color: var(--black-color);
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-data span {
    font-weight: bold;
}

.user-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.user-actions h3 {
    padding-bottom: 10px;

    text-align: left;
    font-family: var(--font-inter);
    font-size: var(--h2-font-size);
}

.registered-books,
.user-requests,
.received-requests {
width: 100%;
}

.flex {
    width: 600px;

    display: flex; 
}

.title,
.year,
.author,
.genre {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex h4 {
    padding: 5px;

    border: 1px solid #94ACBC;
    background: #D9D9D9;
}

.flex p {
    padding: 7px;

    flex-grow: 1;

    border: 1px solid #94ACBC;
    background: #F0F0F0;
    
}

.title {
    flex-grow: 2;
}

.default-msg {
    color: #94ACBC;
}

/*media querie*/
@media(max-width: 1026px) {
    .flex {
        width: 500px;
    }
}

@media(max-width: 770px) {
    .registered-books,
.user-requests,
.received-requests {
    max-width: 400px;
}

    .flex {
        width: 100%;

        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 325px) {
    
    .user-box {
        width: 240px;
    }

    .user-box img {
        width: 100%;
    }
}